/.idea/
/target/
/src/main/c/.idea

/src/main/c/build
/src/main/c/cmake-build-debug
/src/main/c/cmake-build-release

/src/main/c/jni-lib/.vs
/src/main/c/jni-lib/build
/src/main/c/jni-lib/cmake-build-debug
/src/main/c/jni-lib/cmake-build-release
/src/main/c/jni-lib/CMakeLists.txt

/src/main/c/demo/.vs
/src/main/c/demo/build
/src/main/c/demo/cmake-build-debug
/src/main/c/demo/cmake-build-release

/toolkit
/dependency-reduced-pom.xml
/dxfeed-jni-native-sdk.iml
